.box{
    display: flex;
    flex-direction: row;
}
.box div{
    display: flex;
    flex-direction: column;
    max-width: 1903px;
}
.box div img{
    width: 634.238px;
    height: 451.250px;
}
.cardButton{
    position: relative;
    top: -15%;
    right: -5%;
    height: 40px;
    width: 220px;
    background-color: #ecac02;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight:normal;
    font-style: bold;
    font-family: sans-serif;
    color: white;

}
